@charset "utf-8";
/* CSS Document */

.talkbubble1 {
	font-family: 'Josefin Sans', sans-serif;
}
.talkbubble2 {
	font-family: 'Josefin Sans', sans-serif;
}
.talkbubble3 {
	font-family: 'Josefin Sans', sans-serif;
}
.talkbubble4 {
	font-family: 'Josefin Sans', sans-serif;
}
.talkbubble5 {
	font-family: 'Josefin Sans', sans-serif;
}
.talkbubble6 {
	font-family: 'Josefin Sans', sans-serif;
}
.talkbubble7 {
	font-family: 'Josefin Sans', sans-serif;
}
.talkbubble8 {
	font-family: 'Josefin Sans', sans-serif;
}
.talkbubble9 {
	font-family: 'Josefin Sans', sans-serif;
}
.talkbubble10 {
	font-family: 'Josefin Sans', sans-serif;
}

.square {
	
	font-family: 'Josefin Sans', sans-serif;
	
}


